.container li a{
    color: black;
    transition: .3s;
    font-size: 25px;
}

.container li a:hover{
    /* color: royalblue; */
    /* color: white; */
    transform: translateY(-7px);
}

.img-fluid{
    border-radius: 5px;
    margin-bottom: 20px;
    transition: .3s;
    width: 150px;
    height: 150px;
}

#footerAddD {
    background: red;
    display: flex;
    justify-content: space-between;
    padding-right: 200px;
    padding-left: 200px;
}

#footerAddD .footer1_C li{
    cursor: pointer;
    transition: .3s;
    list-style: none;
    

}
#footerAddD .footer1_C li:hover{
    transform: translateY(-7px);
}


#footerAddD .footer1_C li i{
    color: aqua;
}

.footer1_20xx p{
    color: aqua;
}

.edit {
    color: black;
    text-decoration: none;
}
.edit:hover{
    color: green;
}

.delete{
    color: black;
    text-decoration: none;
}

.delete:hover{
    color: red;
}

.edit_booktype{
    background: green;
}

.FBtoT{
    color: black;
    text-decoration: none;
}
.FBtoT:hover{
    color: #fff;
    
}

/* nav_color */
.C_nav1 {
    height: 3rem;
    background:#164A41;
    border-radius: 1rem;
}
.C_nav1 li a{
    color:#fff ;
    transition: .3s;
}

.C_nav1 li a:hover{
    
    color: #fff;
}

.C_nav2{
    height: 3rem;
    background:#4D774E;
    border-radius: 1rem; 
}

.C_nav2 li a{
    transition: .3s;
    color:#fff ;
}

.C_nav2 li a:hover{
    
    color: #fff;
}
.C_nav3{
    height: 3rem;
    background:#9DC88D;
    border-radius: 1rem; 
}

.C_nav3 li a{
    transition: .3s;
    color:#fff ;
}

.C_nav3 li a:hover{
    
    color: #fff;
}
.C_nav4{
    height: 3rem;
    background:#12343b;
    border-radius: 1rem; 
}

.C_nav4 li a{
    transition: .3s;
    color:#fff ;
}

.C_nav4 li a:hover{
    
    color: #fff;
}
.C_nav5{
    height: 3rem;
    background:#2d545e;
    border-radius: 1rem; 
}

.C_nav5 li a{
    transition: .3s;
    color:#fff ;
}

.C_nav5 li a:hover{
    
    color: #fff;
}

/* addbooktypeB */
.add_booktype_user{
    text-decoration: none;
    color: #fff;
    background:#164A41 ;
    padding: 0.2rem;
    border-radius: 2px;
}

.add_booktype_user:hover{
    color: #fff;
}





